{
    "$schema": "https://raw.githubusercontent.com/skymethod/denoflare/v0.6.0/common/config.schema.json",
    "scripts": {
        "main": {
            "path": "fetch.ts",
            "bindings": {
                "API_KEY": {
                    "value": "yourAPIkey"
                },
                "DEBUG": {
                    "value": "false"
                }
            },
            "localPort": 3030,
            "localIsolation": "isolate"
        }
    },
    "profiles": {
        "account1": {
            "accountId": "INSERT_ACCOUNT_ID",
            "apiToken": "INSERT_ACCOUNT_TOKEN"
        }
    }
}
